.header {
  text-align: center;
  margin-top: 50;
  font-size: 75px;
}

.main {
  margin: 0 auto;
  width: 400px;
}

.topblock {
}

.location {
  font-size: 40px;
  padding-bottom: 10px;
}

.condition {
  font-size: 30px;
}

.bottomblock {
}

.temp {
  margin-top: 15px;
  font-size: 60px;
}

.temp c{
  display: none;
}
