@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');

.header {
  text-align: center;
  margin-top: 50;
  font-size: 75px;
  font-family: 'Kumar One Outline', cursive;
}

.main {
  margin: 0 auto;
  width: 400px;
  font-family: 'Miriam Libre', sans-serif;
}

.topblock {
}

.location {
  font-size: 40px;
  padding-bottom: 10px;
}

.condition {
  font-size: 30px;
}

.bottomblock {
}

.temp {
  margin-top: 15px;
  font-size: 60px;
}

.celsius{
  display: none;
  margin-top: 15px;
  font-size: 60px;
}
